<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>


<div class="section">
    <div class="row">
        <div class="col-sm-7">
            <div class="section px-4 py-4">
                ‌‌SHEKHAR‌ ‌SINGH‌ ‌RAWAT‌ ‌ <br>
                ‌‌STUDENT‌ ‌<br>
                ‌ADDRESS:‌ ‌10/B‌ ‌BLOCK‌ ‌TOMAR‌ ‌COLONY‌ ‌BURARI‌ ‌<br>
                ‌DELHI-110084‌ ‌<br>
                ‌PHONE‌ ‌:‌ ‌+91-9540006574‌ ‌<br>
                ‌E-MAIL‌ ‌:‌ ‌shekherrawat1997@gmail.com‌
            </div>
        </div>
        <div class="col-sm-5 py-4">
            <div class="padd">
            <ul>
                <a href="#" class="fa fa-facebook"></a>
                <a href="#" class="fa fa-google"></a>
                <a href="#" class="fa fa-linkedin"></a>
                <a href="#" class="fa fa-github"></a>
                <a href="#" class="fa fa-instagram"></a>
            </ul>
        </div>

        </div>
    </div>
</div>