<div class="section">
    <div class="row">
        <div class="col-sm-4">
            
            <div class="py-4">
            <img  class="d-block w-100"
                src="https://scontent.fdel5-1.fna.fbcdn.net/v/t1.0-9/64246425_1121785224696151_4105129045732098048_o.jpg?_nc_cat=106&ccb=2&_nc_sid=174925&_nc_ohc=u_C-AZXnafoAX_VCS8c&_nc_ht=scontent.fdel5-1.fna&oh=05286ad5562d2cf4f8abf022d6c461cf&oe=60048BCA">
            </div>
        </div>
        <div class="col-sm-6 ">
            <div class="container">
                <div class="text-style">Looking for an organisation where I can use my skills and provide the benefits tothe organisation. Skills include Web Designing, analytical thinking and creative problem solving.
                    An enthusiastic fresher and a fast learner with highly motivated and technical skills having a Bachelor
                    of Technology Degree in Information Technology.</div>
            </div>
        </div>
    </div>
</div>

