<div class="section">
    <img class="d-block w-100 img-fluid"
        src="https://c0.wallpaperflare.com/preview/600/243/618/javascript-vscode-editor-code.jpg">
    <div class="carousel-caption d-none d-md-block">
        <h5 class="animated bounceInLeft" style="animation-delay: 1s">Shekhar S. Rawat</h5>
        <p class="animated bounceInLeft" style="animation-delay: 2s">I deliver website design with great user experience
            that looks stylish.</p>
        <p class="animated bounceInLeft" style="animation-delay: 3s"><a href="work" id="link">My Work</a></p>
    </div>
</div>